PORT=3000

API_VERSION=1

MCP_SERVER_SCRIPT=../mcp-server/dist/index.js

LLM_URL=http://localhost:11434
LLM_KEY=
LLM_MODEL=gemma3:4b

WHISPER_URL=http://localhost:8001
PIPER_URL=http://localhost:8002

LOG_LEVEL=INFO

PG_HOST=localhost
PG_PORT=5432
PG_USER=postgres
PG_PASSWORD=
PG_DB=diakonos_assist

SECRET=
ADMIN_PASSWORD=
