PORT=3000

API_VERSION=1

MCP_SERVER_SCRIPT=../mcp-server/dist/index.js

LLM_URL=http://localhost:11434
LLM_KEY=
LLM_MODEL=gemma3:4b

WHISPER_URL=http://localhost:8001
PIPER_URL=http://localhost:8002
SILERO_VAD_MODEL_PATH=./models/silero/silero_vad_16k_op15.onnx

LOG_LEVEL=INFO

PG_HOST=localhost
PG_PORT=5432
PG_USER=postgres
PG_PASSWORD=
PG_DB=diakonos_assist
